<%- include('header') %>
<div class="ui main text container">
  <% if (app.session.userInfo) { %>
  <div class="">
    你好，<b><%= app.session.userInfo.username %></b>
    用户信息：<%- JSON.stringify(app.session.userInfo) %>
    <% if (app.session.userInfo.source === 'github') { %>
    <img src="<%= app.session.userInfo.avatar %>" alt="">
    <% } else { %>
    <img src="/img/<%= app.session.userInfo.avatar %>" alt="">
    <% } %>
  </div>
  <% } else {%>
  <div class="">
    登录一下?
  </div>
  <% } %>
</div>
<%- include('footer') %>
